html {
  scroll-behavior: smooth;
}

.link {
  text-decoration: none !important;
  transition: all 0.3s ease;
}

.timeline::before {
  width: 6px;
}

.mobile-btn {
  display: none;
}

.desktop-btn {
  display: block;
}

.disabled {
  opacity: 0.9;
  cursor: not-allowed;
}

@media screen and (max-width: 1169px) {
  .vertical-timeline-element-icon {
    margin-left: 6px !important;
  }
}

@media screen and (min-width: 769px) {
  .mobile-btn {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .desktop-btn {
    display: none;
  }
}

.roadmap-heading {
  color: #fff !important;
  margin-bottom: 10px;
}

.chakra-link:focus {
  box-shadow: none !important;
}

.page {
  background-color: rgba(255, 255, 255, 0.596) !important;
}

.timeline-box .vertical-timeline-element-content {
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}
